body {
  margin: 0;
  padding: 0;
  background-color: #00BF69;
  font-family: 'Courier New', monospace;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;;
}

.navbar{
  background-color: #545454;
  color: #D0B89A;
  padding: auto;
  display: auto;
  justify-content: space-between;
  align-items: auto;
  overflow: hidden;
}

.navLinks a {
  float: left;
  display: block;
  text-align: auto;
  padding: 14px 16px 14px 16px;
  color: #3694DB;
  text-decoration: none;
}

.navLinks a:hover {
  background-color: #3694DB;
  color: #D0B89A;
}

h1, h2, h3, p {
  color: #545454;
}

main {
  background-color: #D0B89A;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border: 1px solid #000000;
  color: #545454;
  padding: 10px;
}

td {
  border: 1px solid #000000;
  padding: auto;
}

tr {
  background-color: #ffffff;
}

footer {
  background-color: #00bf69;
  color: #545454;
  padding: 10px;
}
